body {
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 42px;
  line-height: 58px;
}

.d-flex {
  display: flex;
}

.h100 {
  height: 100%;
}

.page-container,
.page {
  flex-grow: 1;
}

.margin-0 {
  margin: 0;
}

.page-container > .rs-content {
  padding: 0.5em;
}

.text-center {
  text-align: center;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-upper {
  text-transform: uppercase;
}

.ban-icon {
  color: #dc1b1b;
}

@media screen and (max-width: 600px) {
  .fancy-drawer {
    width: 100vw;
  }
}
